/* ----------------- Stylesheet for Matching Game ----------------- */

/* Document
   ========================================================================== */
/**

/* 
   * Created by Alexandre Furstenberger 
   * Date: February 2nd 2018
   * Project: developed as a project for Udacity's Front End Web Developer Nanodegree */

/* Sections
   ========================================================================== */

/**

/* Change App Font */
body { 
    font-family: 'Titillium Web', sans-serif;
}

.deck {
    background: linear-gradient(to bottom right, rgb(43, 235, 193), plum );
    -webkit-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
    -o-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
}

.card {
    height: 6em;
    width: 6em;
    background-color: darkslategray;
}

.container {
    max-width: 600px;
}

.row-margin {
    padding-top: 1em;
    padding-bottom: 1em;
}

.panel-heading { 
    vertical-align: middle !important; 
}

.m-pointer {
    cursor: pointer;
}

.faceup {
    background-color:  mediumturquoise;
}

/* flip speed */
.flipper {
	-webkit-transition: 0.4s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.4s;
	-moz-transform-style: preserve-3d;
  
    -o-transition: 0.4s;
	-o-transform-style: preserve-3d;

	transition: 0.4s;
	transform-style: preserve-3d;

	position: relative;
}

/* flip the pane when clicked */
.flip {
    -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.wrong {

    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;

    -webkit-animation-name: moving;
    -moz-animation-name: moving;
    -o-animation-name: moving;
    animation-name: moving;

    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
    animation-iteration-count: 2;

    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;


    position: relative;
    background-color: red;
}

@keyframes moving {
    0% {
        transform: rotate(0deg);
        left: 0;
    }
    50% {
        transform: rotate(15deg);
        left: 20%;
    }
    100% {
        transform: rotate(-15deg);
        left: 0;
    }
}

/* matched cards gets new background color*/
.matched {

     -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease;

    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
    
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;

    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    animation-iteration-count: 3;
    
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate; 

    position: relative;
    background-color: deepskyblue;
}

@keyframes bounce {
    from {
        transform: scale(0.7, 0.7);
    }
    to {
        transform: scale(1.2,1.2);
    }
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-backdrop.show {
    opacity: 1;
}